/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/

nav {
    background-color: #2081c3;
    font-family: sans-serif;
    color: antiquewhite;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    }

.image {
    display: flex;
    width: 2rem;
}

ul {
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

li {
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}


